<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="/logIn">
<div style=" margin: auto; text-align: center;">
<h>Please type in your username and password:</h><br><br>
<h>Username: </h><input type="text" name="username"/><br><br>
<h>Password: </h><input type="password"/><br><br>
<button type="submit" name="login">Login</button>
</div>
</form>

</body>
</html>